<html>
    <head>
        <title>My f*cking blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Dota 2 updates</a></h1>
        </div>

        <div>
            <p>published:11.01.2021, 04:00</p>
            <h3><a href="">My first f*cking post</a></h3>
            <p>Dota 2 update 7.28b</p>
        </div>

        <div>
            <p>published:17.04.2021, 04:00</p>
            <h3><a href="">My second f*cking post</a></h3>
            <p>Dota 2 update 7.29b</p>
        </div>
    </body>
</html>